*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #ffe8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.testimonial-text {
  background: #ff0058;
  color: #fff;
  width: 100%;
  height: 35rem;
  padding: 2rem;
  position: relative;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2);
}

.user-text {
  width: 80%;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.user-text span {
  display: block;
  font-size: 1.3rem;
  margin-top: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.testimonial-pic {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-pic {
  width: 6.5rem;
  padding: 0.5rem;
  border-radius: 100%;
  margin: 1rem;
  cursor: pointer;
}

.user-text.active-text {
  display: block;
  animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
  0% {
    margin-top: 2.5rem;
  }
  100% {
    margin-top: 0rem;
  }
}

.user-pic.active-pic {
  width: 10rem;
  border: 3px solid #ff0058;
}

@media screen and (max-width: 700px) {
  .user-pic {
    width: 5rem;
    margin: 0.5rem;
  }
  .user-pic.active-pic {
    width: 7rem;
  }
}
